/* ServicesList.css */
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust this value as needed */
}

.button-container .btn {
  padding: 10px 20px; /* Adjust padding as needed */
}