/* Ui/Card.css */
.service-card {
  display: flex;
  flex-direction: row;
  width: 23rem;
 height: 190px;
 
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;

  object-fit: cover;
}

.bacground-image{
background-color: #F8F9FA;

}


.service-card:hover {
  transform: scale(1.05);
}

.service-image {
  width: 150px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  margin: auto;
  display: block;
}

.service-details {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-grow: 1;
}

.service-info {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  align-items: flex-start;
}

.service-name {
  font-size: 17.6;
  margin: 3px 0;
}

.service-description {
  font-size: 0.9em;
  color: #666;
  margin: 5px 0;
}

.service-price {
  font-size: 1em;
  font-weight: bold;
  color: #28a745;
  margin: 5px 0;
}

.service-rating {
  font-size: 0.9em;
  color: #ffcc00;
  margin: 5px 0;
}

.service-action {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.service-action:hover {
  background-color: #0056b3;
}


.service-description,
.service-price,
.service-rating {
  display: block; /* Ensure each element is on its own line */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for overflowing text */
}
.button-info{
  display: flex;
  justify-content: space-between;
}